@import url(league.css);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

* {
  margin : 0;
  padding : 0;
}

body {
  background: rgba(0, 0, 0, .1);
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: #888;
}

h1 {
  font-family: 'League Gothic', monospace;
  font-weight: normal;
  color: #eee;
  text-shadow: 0 1px 6px rgba(0, 0, 0, .6);
  font-size : 4.2em;
  text-align : center;
  margin : 10px;
}

#description {
  width: 70%;
  text-align: center;
  margin: auto;
}

#paper {
  margin: 10px auto;
  padding: 10px;
  width: 70%;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

@media screen and (max-device-width: 600px), screen and (max-width: 600px) {
  #paper {
    height: 300px;
  }
}